@{
    ViewData["Title"] = "Iniciar Sesión";
}


<div class="login-sub-body">
    @using (Html.BeginForm("Google_Oauth_Signin", "Authentication", FormMethod.Get))
    {

        <button class="signin-google-button">
            <div align="left" style="">
                <img src="~/images/google.png" width="40" height="40" />
            </div>
            <div class="container">
                <h3>Iniciar Sesión</h3>
            </div>
        </button>

    }

</div>

